
{% extends "baseplate.html" %}
{% block content %}
<div class="card mx-auto float-md-left w-100 text-center" id="card">
	<div class="card-header">
	</div>
	<section>
		<div class="card-body">
			<h1 class="card-title">Insert CVs and JobDescrption</h1>
			<p class="card-text">Instructions</p>
			<p class="card-text">Input your information into this form below</p>
		</div>
	</section>
		<div>
			<form action ="/feedback" method="POST" enctype="multipart/form-data">
				<div class="form-group" name="input">
					<label for="pdfList" class="form-label">ONLY PDF FORMAT ALLOWED!</label>
					<input type="file" name="pdfList" class="form-control" multiple>
					<label for="inputCV">JobDesc input</label>
					<textarea name="text" class="form-control" id="inputJobDesc" rows="15"></textarea>
					<input type="hidden" name="Form" value="multiFile">
					<button type="reset" class="btn btn-primary my-1">Clear</button>
					<button type="submit"class="btn btn-primary my-1">Submit</button>
			
				</div>
			</form>
		</div>
	<section>
	</section>
</div>
{% endblock %}
